world/
world_nether/
world_the_end/
*.jar
logs/
cache/
plugins/spark/tmp/*
*.env
temp/
world*/
logs/
cache/
*.jar
plugins/spark/tmp/*
plugins/dynmap/web/tiles/*
.papermc-manifest.json
backups/
*.json
*.txt
*.jfr
*.tiny
crash-reports/
plugins/.paper-remapped/
plugins/spark/
usercache.json
